*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: rgb(160, 221, 245);
}
header{
    margin-top: 3%;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    color: darkblue;
    border-bottom: 1.6px solid rgb(173, 169, 169);
}
#header-text{
    width: 30%;
    text-align: center;
}
#header-text h5{
    color: black;
}
#header-nav{
    width: 70%;
    text-align: center;
}
#header-nav a{
    text-decoration: none;
    margin-left: 100px;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 135%;
    font-weight: bold;
    color: darkblue;
}
#header-nav a:hover{
    background-color: skyblue;
}
p{
    text-align: center;
    margin: 50px 175px;
    font-size: 150%;
    font-weight: bolder;
    font-family: serif;
    /* color: darkblue; */
}
#bottom{
    grid-template-columns: 25% auto auto auto auto;
    margin-top: 50px;
}
.column{
    width: 24%;
    float: left;
    padding: 6px;
    text-align: center;
}
.column h3{
    padding-top: 5px;
    font-family: serif;
    font-size: 20px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin-bottom: 10px;
}