@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F7F7F7;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

header{
    margin-top: 4rem;
    flex-direction: row;
    padding-bottom: 1rem;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    color: #151865;
    border-bottom: 0.2rem solid rgb(173, 169, 169);
}

#header-text{
    max-width: 30%;
    text-align: center;
}

#header-nav{
    display: flex;
    justify-content: flex-end;  
    width: 70%;
    float: right;
    text-align: center;
}

#header-nav a{
    text-decoration: none;
    border-radius: 25px;
    font-size: 1.5rem;
    color: #151865;
}

#about{
    padding-right: 20rem;
}

#contact{
    padding-right: 20rem;
}

#brand{
    font-size: 2.8rem;
    font-family: 'Raleway', sans-serif;
    text-decoration: underline #8b8b8b;
}

#tag{
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center; 
}

#header-nav a:hover{
    color: tomato;
}

#main{
    display: flex;
    flex-direction: row;
}

#Profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 86.5vh;
    text-align: center;
    border-right: 1.6px solid rgb(173, 169, 169);
}

#side-bar img{
    width: auto;
    height: 25vh;
    /* border-radius: 350px; */
}

#side-bar p{
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

#Logout-btn{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    background-color:#45B4D0;
    padding: 1rem 4rem;
    border-radius: 4rem;
    border: none;
    cursor: pointer;
}

#Logout-btn:hover{
    font-size: 2rem;
    color: white;
    background-color:tomato;
    padding: 1rem 4rem;
    cursor: pointer;
}


#Right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 75%;
    /* background: rebeccapurple; */
}

#Right-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 2rem;
    /* background: chartreuse; */
}

.suggestion{
    text-align: center;
    /* margin-top: 1rem; */
    font-size: 2.2rem;
    padding-bottom: 1rem;
    font-family:'Poppins', sans-serif ;
}

#Right-top1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    text-align: center;
    padding-bottom: 0;
}

#pointer{
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

#pointer a:hover{
    color: tomato;
}

#Right-top2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    /* background-color: yellow ; */
    text-align: center;
}

#Register-btn{
    /* margin-left: 5rem; */
    margin-bottom: 2.3rem;
    font-size: 130%;
    color: white;
    background-color:#45B4D0;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#Register-btn:hover {
    background-color: tomato;
    cursor: pointer;
}

#search-btn{
    /* margin-left: 5rem; */
    font-size: 130%;
    color: white;
    background-color:#45B4D0;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#search-btn:hover {
    background-color: tomato;
    cursor: pointer;
}

#Right-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#Right-bottom img{
    /* padding-left: 275px; */
    margin-top: 10rem;
    width: 40%;
    height: auto;
    align-self: center;
}
footer p{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.sidebar ,#check ,label{
    display: none;
}

@media only screen and (max-width: 1150px) {
    #side-bar , #Profile{
        display: none;
    }
    #Right-side{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100vw;
    }
    .sidebar ,#check ,label{
        display: block;
    }

    .sidebar{
        position: fixed;
        width: 240px;
        left: -240px;
        height: 100%;
        transition: all .5s ease;
      }
      .sidebar{
         background:linear-gradient(-46deg,#FEE387,#f3dc38,#45B4D0,tomato,#230A52,#D8757E);
        background-size: 400% 400%;
        animation: gradient 5s ease infinite;
      }
      @keyframes gradient {
        0%{
          background-position:0% 50%;
      
        }
          50%{
          background-position:100% 50%;
      
        }
        100%{
          background-position:0% 50%;
      
        }
      
      }

      .sidebar a{
        display: block;
        height: 65px;
        width: 100%;
        color: #b93632;
        line-height: 65px;
        padding-left: 30px;
        box-sizing: border-box;
        border-bottom: 1px solid black;
        border-top: 1px solid rgba(255,255,255,.1);
        border-left: 5px solid transparent;
        font-family: 'Open Sans', sans-serif;
        transition: all .5s ease;
      }
      a.active,a:hover{
        border-left: 5px solid #b93632;
        color: #b93632;
      }
      .sidebar a i{
        font-size: 23px;
        margin-right: 16px;
      }
      .sidebar a span{
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      #check{
        display: none;
      }
      label #btn,label #cancel{
        position: absolute;
        cursor: pointer;
        color: white;
        border-radius: 5px;
        border: 1px solid #262626;
        margin: 10px 10px;
        font-size: 22px;
        background: #45B4D0;
        height: 32px;
        width: 32px;
        text-align: center;
        line-height: 32px;
        transition: all .5s ease;
      }
      label #cancel{
        opacity: 0;
        visibility: hidden;
      }
      #check:checked ~ .sidebar{
        left: 0;
      }
      #check:checked ~ label #btn{
        margin-left: 245px;
        opacity: 0;
        visibility: hidden;
      }
      #check:checked ~ label #cancel{
        margin-left: 245px;
        opacity: 1;
        visibility: visible;
      }

}

@media only screen and (max-width: 780px){
    #Right-top{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    #header-nav{
        display: none;
    }
    #header-text{
        max-width: 100vw;
        text-align: center;
    }

    #Right-bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #Right-bottom img{
        margin-top: 5rem;
        padding-top: 2rem;
        width: 40%;
        height: auto;
        align-self: center;
    }
    footer p{
        text-align: center;
        margin-top: 2rem;
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        color: black;
    }

    #Right-side{
        display: flex;
        flex-direction: column;
        width:100vw;
    }
    #Register-btn{
        font-size: 2rem;
        font-size: 130%;
    }

     
}

@media only screen and (max-width: 650px){

    #Right-side{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 0%;
        /* background-color: yellow; */
    }
    #Right-top1{
        /* background-color: teal; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }

    #Right-top2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }
    #Right-top1 p{
        padding-bottom: 0;
    }
    
    #Right-top2 p{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    #Register-btn{
        margin: 0;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    #Blood-group-selection{
        margin: 0;
    }
    #Right-top{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 5rem;
    }

    #Right-bottom{
        /* background-color: violet; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: auto;
        margin-top: auto;
    }
    
    #Right-bottom img{
        margin-top: 1%;
        max-width: 40%;
        height: auto;
        align-self: center;
    }
    footer p{
        text-align: center;
        margin-top: 2rem;
        font-size: 1.3rem;
        font-family: 'Roboto', sans-serif;
        color: black;
        padding-bottom: 3%;
    }
}