@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    background-color: #F7F7F7;
}


a {
    text-decoration: none;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#side-bar {
    display: flex;
    order: 0;
    width: 20vw;
    min-height: 100vh;
    background-color: white;
    border-right: 0.2rem solid rgb(173, 169, 169);
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}

#side-bar p {
    text-align: center;
    font-size: 2rem;
    font-weight: 580;
    font-family: 'Roboto', sans-serif;
}

#brand {
    font-size: 3.0rem;
    font-weight: bold;
    color: #151865;
    font-family: 'Raleway', sans-serif;
    text-decoration: underline #8b8b8b;
    padding-top: 2rem;
}

#tag {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: black;
}

#msg {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #151865;
    align-self: center;
    padding-bottom: 5rem;
    padding-top: 2rem;
}



#form-container {
    order: 1;
    align-self: center;
    /* width: 30vw; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellowgreen; */
}

form {
    padding-bottom: 5rem;
    display: flex;
    /* height: 80%; */
    flex-direction: column;
    justify-content: space-around;
    /* background-color: violet; */
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    /* padding-left: 0.5rem; */
    align-self: flex-start;
}

#Blood-selection , #male ,#female ,#phone-no ,#address , .date-of-birth{
    align-self: center;
    padding: 1rem 2rem 1rem 1.5rem;
    margin-bottom: 2rem;
    border-radius: 0.8rem;
    border: 0.15rem solid #45B4D0;
}

#registration-btn {
    border: none;
    color: white;
    background-color: #45B4D0;
    padding: 1.2rem 5rem;
    border-radius: 1rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-self: center;
}

#registration-btn:hover {
    background-color: tomato;
}


#terms_privacy_policy {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    color: rgb(99, 99, 99);
}

#img-container {
    order: 2;
    width: 50vw;
    height: auto;
    align-self: center;
    float: right;
    display: flex;
    flex-direction: column;
}

#img-container img {
    max-width: 65%;
    height: auto;
    align-self: center;
}

#img-container p {
    align-self: center;
    padding-top: 3rem;
    text-align: center;
    font-size: 1.4rem;
    color: black;
}

@media only screen and (max-width: 1050px) {
    #side-bar{
        display: none;
    }
    #form-container{
        width: 50%;
    }
    #img-container{
        padding-right: 1%;
    }
}

@media only screen and (max-width: 630px) {
    #img-container{
        display: none;
    }
    #form-container{
        width: 100%;
    }
    form {
        padding-bottom: 1rem;
    }
    #msg {
        padding-bottom: 3rem;
        padding-top: 0;
    }
    #Blood-selection , #male ,#female ,#phone-no ,#address , .date-of-birth{
        margin-bottom: 1.5rem;
    }
}