*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
header{
    margin-top: 3%;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    color: darkblue;
    border-bottom: 1.6px solid rgb(173, 169, 169);
}
#header-text{
    width: 30%;
    text-align: center;
    /* background-color: chartreuse; */
}
#header-text h5{
    color: black;
}
/* #header-text h1{
    padding-bottom: 10px;
    border-bottom: 1.6px solid rgb(173, 169, 169);
    border-bottom-width: 50p;
}  */
#header-nav{
    width: 70%;
    text-align: center;
}
#header-nav a{
    text-decoration: none;
    margin: 0 25px;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 135%;
    font-weight: bold;
}
#header-nav a:hover{
    background-color: skyblue;
}
#main{
    display: flex;
}
#Profile{
    /* background-color: coral; */
    width: 22%;
    height: 535px;
    text-align: center;
    padding-top: 5%;
    border-right: 1.6px solid rgb(173, 169, 169);
}
#Profile img{
    width: auto;
    height: 200px;
    border-radius: 350px;
}
#Profile h5{
    margin-top: 10px;
    font-size: 130%;
}
#Logout-btn{
    font-weight: bolder;
    font-size: 20px;
    color: white;
    background-color:skyblue;
    border-width: 200px;
    padding: 10px 40px;
    border: none;
    border-radius: 50px;
    margin-top: 30px;
}
#Right-side{
    display: grid;
    grid-template-rows: 130px;
    width: 78%;
}
#RequestId{
    /* background-color: cyan; */
    padding: 45px 150px;
    color: darkblue;
    border-bottom: 1.6px solid rgb(173, 169, 169);
}
#RequestId label{
    font-size: 180%;
    font-weight: bold;
}
#RequestId input{
    margin: 0px 15px;
    width: 250px;
    padding: 10px;
    border: 1.6px solid rgb(173, 169, 169);
    border-radius: 10px;
}
#submit-btn{
    font-weight: bolder;
    font-size: 20px;
    color: white;
    background-color:skyblue;
    border-width: 200px;
    padding: 10px 40px;
    border: none;
    border-radius: 50px;
    margin: 0 40px;
}
#Right-bottom{
    display: grid;
    grid-template-columns: 68% auto auto;
}
#message{
    text-align: center;
    padding: 165px 30px;
}
#message p{
    font-weight: 200;
    font-size: 110%;
    border: 1.6px solid rgb(173, 169, 169);
    border-radius: 40px;
    padding: 50px 15px;
}
