@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    background-color: #F7F7F7;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#side-bar {
    display: flex;
    order: 0;
    width: 20vw;
    min-height: 100vh;
    background-color: white;
    border-right: 0.2rem solid rgb(173, 169, 169);
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}

#side-bar p {
    text-align: center;
    font-size: 2rem;
    font-weight: 580;
    font-family: 'Roboto', sans-serif;
}


#msg {
    padding-top: 8rem;
}

#msg-1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #151865;
}

#msg-2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    padding-top: 2rem;
    text-align: center;
    padding-bottom: 3rem;
}

#brand {
    margin-bottom: 0.1rem;
    font-size: 3.0rem;
    font-weight: bold;
    color: #151865;
    font-family: 'Raleway', sans-serif;
    text-decoration: underline #8b8b8b;
    padding-top: 5rem;
}

#form-container {
    order: 1;
    align-self: center;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form {
    padding-bottom: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    padding-left: 1.2rem;
    align-self: flex-start;
}

#full-name, #email-address, #passwrd ,#cpasswrd {
    align-self: center;
    padding: 1rem 10rem 1rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 0.8rem;
    border: 0.15rem solid #45B4D0;
}

#passwrd ,#cpasswrd {
    margin-bottom: 1.2rem;
}

#tag {
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding-left: 2.5rem;
    color: black;
}

#submit-btn {
    border: none;
    color: white;
    background-color: #45B4D0;
    padding: 1.2rem 8rem;
    border-radius: 0.8rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-self: center;
}

#submit-btn:hover {
    background-color: tomato;
    cursor: pointer;
}

#msg a:hover {
    color: tomato;
}

#terms_privacy_policy {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    color: rgb(99, 99, 99);
}

#img-container {
    order: 2;
    width: 50vw;
    height: auto;
    align-self: center;
    float: right;
    display: flex;
    flex-direction: column;
}

#img-container img {
    max-width: 65%;
    height: auto;
    align-self: center;
}

#img-container p {
    align-self: center;
    padding-top: 3rem;
    text-align: center;
    font-size: 1.4rem;
    color: black;
}

#CheckSecPassMatch{
    height: 2rem;
}

@media only screen and (max-width: 940px) {
    #img-container, #side-bar ,#img-container img ,#img-container p{
        background-color: #F7F7F7;
        border: none;
        display: none;
    }
    #form-container {
        width: 100vw;
        justify-content: flex-start;
        align-items: center;
    }
    #container{
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    form {
        padding-bottom: 5rem;
    }
    #msg {
        padding-top: 2rem;
    }
}