
body{
  background-color:rgb(233,235,235);
  font-family: sans-serif;
  }
   #login-img{
      float:left;
      clear:left;
      width: 35%;
      height: 300%;
      margin-left: 20%;
      padding-top: 2%;
  }
  h1{
    color: rgb(15,3,90);
  }
  #side{
      padding-left: 65%;
      padding-top: 5%;
      form align-items: right;
  }
  #sett{
    margin-left: 5%;
  }
 #fn{
  margin-bottom: 2px solid yellow;
}
a{
  text-decoration: none;
}
#ftt{
  padding-top:10%;
  padding-left:40%;
}

#signin{
    border:none;
    border-radius: 30px;
    background-color: skyblue;
    padding: 10px 20px;
    color: rgb(253, 249, 249);
    font-weight: bold;
    margin-left: 140px;
}
#inputbx{
    border: none;
    border-radius: 30px;
    background-color: rgb(255,255,255);
    padding: 10px 100px;
    font-weight: bold;
    border-bottom-width: 5%;
    height:25px;
}
#al
{
  display: inline;
  display:inline-block;
  width: 250px;
}
#inputbx:hover{
    background-color: rgb(207,240,248);
}
#signin:hover{
  background-color:rgb(118,225,133);
}
